@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 2px;
    --spacing-label: 1.2px;
    --radius: 30px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background: #2f363e;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  
  /* section */
  .section {
    width: 80vh;
    /* min-height: 100vh; */
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  
  /*
  =============== 
  Quiz
  ===============
  */
  
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quiz {
    width: 80vw;
    max-width: var(--max-width);
    margin: 4rem auto;
    background: var(--clr-grey-3);
    border-radius: var(--radius);
    padding: 3rem;
  }
  .quiz-small {
    max-width: 500px;
  }
  .container h2 {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
    color: var(--clr-white);
    text-transform: none;
  }
  .answer-btn {
    display: block;
    width: 70%;
    margin: 0.75rem auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--radius);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    color: #fff;
    letter-spacing: var(--spacing);
    font-size: 1rem;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
  }
  @media screen and (max-width: 550px) {
    main {
      width: 100%;
    }
    .answer-btn {
      font-size: 0.9em;
      padding: 12px;
      max-width: 100%;
    }
    .container h2 {
      letter-spacing: normal;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }
    .next-question {
      min-width: 100%;
    }
    
  }
  @media screen and (max-width:375px){
    .correct-answers {
      font-size: 0.7rem;
    }
  }
  .answer-btn:hover {
    background: none;
    color: #fff;
    transform: scale3d(1.2);
    box-shadow: 0 0 5px #1f83f2;
    text-shadow: 0 0 5px var(--clr-grey-10);
    filter: brightness(5) opacity(0.7);
  }
  .correct-answers {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 0 0 3px var(--clr-green-dark) ;
    letter-spacing: var(--spacing);
    color: var(--clr-green-dark);
  }
  .next-question,
  .close-btn{
    border: none;
    border-radius: var(--radius);
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin-left: auto;
    margin-top: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: var(--spacing);
    font-size: 18px;
    background: #ffb100;
    color: var(--clr-black);
    transition: var(--transition);
    cursor: pointer;
  }
  .next-question:hover {
    color: #000;
    margin-top: 2.5rem;
    width: 70%;
    box-shadow:0 0 5px #ffb100;
  }
  /*
  =============== 
  Form
  ===============
  */
  .setup
  {
    display: flex;
    width: 400px;
    min-height: 70vh;
    flex-direction: column;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #000;
    color: var(--clr-primary-9);
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  }
  .setup-form h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .form-control {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
  }
  .form-control label {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    border-left: 2px solid var(--clr-grey-7);
    padding-left: 2px;
    font-weight: 500;
    letter-spacing: var(--spacing-label) ;
    margin-bottom: 0.5rem;
  }
  .form-input {
    display: flex;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    text-align: center;
    border-radius: 10px;
    background: #1f83f2;
    color: #fff;
    transition: all 0.5s ease;
  }
  .form-input:hover
  {
    filter: hue-rotate(-30deg) brightness(1.3);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .error {
    color: var(--clr-red-dark);
    text-transform: capitalize;
  }
  .submit-btn {
    width: 200px;
    border: none;
    text-transform: uppercase;
    margin: 20px 90px;
    text-align: center;
    margin-top: 3rem;
    height: 40px;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 25px;
    background: linear-gradient(to bottom right, #35b3eede, #35b3eede 30%, #00d9ffde 60%, #00d9ffde);
    transition: all 0.5s ease-in-out;
  }
  .submit-btn:hover
{
    cursor: pointer;
    background: linear-gradient(to bottom right,#35b3eede, #35b3eede 30%, #00d9ffde 60%, #00d9ffde);
    box-shadow: 0 0 6px #35b3eede,
    0 0 12px #35b3eede,
    0 0 24px #35b3eede,
    0 0 48px #35b3eede;
}
  @media screen and (max-width: 425px){
    .setup {
      min-height: 70vh;
      width: 300px;
    }
    .form-input {
      height: 40px;
    }
    .submit-btn {
    margin: 20px 45px;
    }
  }
  @media screen and (min-width: 1440px){
    .setup {
      min-height: 32vh;
    }
  }
  /*
  =============== 
  Loading
  ===============
  */
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--clr-primary-5);
    animation: spinner 0.6s linear infinite;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
  }
  .isOpen {
    opacity: 1;
    z-index: 999;
  }
  
  .modal-content {
    background: #2f363e;
    color: #fff;
    width: 90vw;
    max-width: var(--fixed-width);
    padding: 3rem;
    border-radius: var(--radius);
    text-align: center;
    position: relative;
  }
  .modal-content p {
    color: #fff;
    font-size: 1.5rem;
    text-transform: none;
  }
  .close-btn {
    margin-right: auto;
  }
  